
@model List<MVC.Models.ShipperView>

@{
    ViewBag.Title = "Shippers";
}

<h2>Shippers</h2>

<table class=" table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Company Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>

        </tr>

    </thead>
    <tbody>
        @foreach (var shipper in Model)
        {
            <tr>
                <th scope="row">@shipper.Id</th>
                <td>@shipper.CompanyName</td>
                <td>@shipper.Phone</td>
                <td>@Html.ActionLink("Delete", "Delete", new { Id = shipper.Id }) </td>
                <td>@Html.ActionLink("Update", "Update", new { Id = shipper.Id }) </td>

            </tr>
        }
    </tbody>

</table>

<div>
    @Html.ActionLink("Agregar Shipper","Insert")
</div>